<div id="result">
  <table class ="tb4" align="center">
    <tr>
    <th> Home Team Goals</th>
    <th> Away Team Goals</th>
    </tr>

    <tr *ngFor="let result of results.result">
      <td><span>{{result.goalHomeTeam}}</span></td>
      <td><span>{{result.goalAwayTeam}}</span></td>
    </tr>
  </table>
</div>