<div id="fixture">
    <table class='tb3' align="center">
    <tr> 
        <th>Away Team</th>
        <th>Date</th>
        <th>Home Team</th>
        <th>Date</th>
        <th>Match Day</th>
        <th>Home Team Name</th>
        <th>Away Team Name</th>
         
    </tr>
    <tr *ngFor="let Fixture of this.fixtures?.Fixture">
       <td><span>{{Fixture.timeFrameStart}}</span></td>
       <td><span>{{Fixture.timeFrameEnd}}</span></td>        <td><span>{{Fixture.date}}</span></td>
        <td><span>{{Fixture.matchday}}</span></td>
        <td><span>{{Fixture.homeTeamName}}</span></td>
        <td><span>{{Fixture.awayTeamName}}</span></td>        
        
    </tr>
    
    </table>

    </div>
   